@mixin breakpoint($point) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    // $desktop-upper-boundary: 1800px;

    @if $point == phone-only {
        @media (max-width: #{$phone-upper-boundary - 1}) {
            @content;
        }
    } @else if $point == tablet-portrait-up {
        @media (min-width: $phone-upper-boundary) {
            @content;
        }
    } @else if $point == tablet-landscape-up-max {
        @media (max-width: $tablet-portrait-upper-boundary) {
            @content;
        }
    } @else if $point == tablet-landscape-up {
        @media (min-width: $tablet-portrait-upper-boundary) {
            @content;
        }
    } @else if $point == desktop-up {
        @media (min-width: $tablet-landscape-upper-boundary) {
            @content;
        }
    }
    // @else if $point == big-desktop-up {
    //     @media (min-width: $desktop-upper-boundary) {
    //         @content;
    //     }
    // }
}
