@import "./breakpoint";
@import "./variables";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    box-sizing: border-box;
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $text;
}
html {
    min-width: 260px;
    min-height: 100vh;
}
body {
    background: linear-gradient(to bottom, #222632, rgb(20, 23, 31) 40%);
    overflow-x: hidden;
}
button {
    cursor: pointer;
}
::selection {
    background-color: $secondary;
    color: $text;
}
.all.container {
    width: 100%;
    max-width: 980px;

    margin: 0 auto;
    padding: 0 3%;
}
.medium {
    fill: $text;
    width: 50px;
    height: 50px;
}
.header {
    .header-flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-link {
            .header-logo {
                width: 50px;
                height: 50px;
                svg {
                    padding-top: 6px;

                    fill: $text;
                    width: 100%;
                    height: 100%;
                    stroke-width: 10px;
                    stroke: transparent;
                    stroke: $text;
                    transition: 500ms;
                    stroke-dasharray: 800;
                }
                &:hover {
                    svg {
                        filter: drop-shadow(0 10px 10px $outlined);
                        stroke-dashoffset: 600;
                    }
                }
            }
        }
        .header-menu {
            display: none;
            flex-shrink: 0;
            @include breakpoint(tablet-landscape-up) {
                display: block;
            }
            .header-navbar {
                padding: 10px 19px;
                .header-list {
                    display: flex;

                    .header-el {
                        list-style: none;
                        .header-navbar-link {
                            font-size: 15px;
                            letter-spacing: 1px;
                            text-transform: capitalize;

                            display: block;
                            padding: 8px 19px;
                            text-decoration: none;
                        }
                        .header-navbar-link.download-now {
                            font-size: 19px;
                            padding: 9px 40px;

                            box-shadow: 0 1px 2px $outlined;
                            border-radius: 2px;
                            background-color: $secondary;
                            margin-left: 60px;
                        }
                    }
                }
            }
        }
    }
}
.section-content {
    margin-top: 20px;
    .section-content-container {
        padding-top: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .section-content-advice {
            width: 400px;
            padding-right: 3%;
            margin-bottom: 40px;
            h2 {
                font-size: 27px;
                font-weight: 500;

                margin-bottom: 16px;
                @include breakpoint(phone-only) {
                    font-size: max(6vw, 16px);
                }
            }
            p {
                line-height: 17px;
                color: $text-secondary;
                font-size: 12px;
                margin-bottom: 23px;
            }
            .section-content-appGoogle {
                user-select: none;
                a {
                    text-decoration: none;
                    img {
                        @include breakpoint(phone-only) {
                            width: max(25vw, 100px);
                        }
                    }
                }
            }
        }
        .section-content-image {
            user-select: none;
            img {
                filter: drop-shadow(0 1px 1px $outlined);
                border-radius: 8px;
                max-width: 100%;
            }
        }
    }
}
.section-depositions {
    padding-top: 60px;
    .section-depositions-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .section-depositions-box {
            position: relative;
            border-radius: 10px;
            padding: 16px 27px;
            padding-right: 70px;

            background-color: $box;
            width: 400px;
            * {
                color: $secondary;
            }
            h2 {
                line-height: 22px;
                font-weight: lighter;
                font-size: 12px;
                margin-bottom: 16px;
                i {
                    top: 10px;
                    right: 10px;
                    position: absolute;
                    font-size: 50px;
                    @include breakpoint(phone-only) {
                        top: 20px;
                        font-size: max(8vw, 22px);
                    }
                }
            }
            span {
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: bold;
                display: block;
                color: #953bb8;
            }
            &.n {
                margin-bottom: 27px;
                margin-right: 20px;
            }
            @include breakpoint(phone-only) {
                padding-right: max(12vw, 30px);
            }
            @include breakpoint(tablet-landscape-up-max) {
                max-width: 450px;
                flex-grow: 1;
                &.n {
                    width: 450px;
                    margin-right: 0;
                }
            }
        }
    }
}
.section-about {
    padding-top: 30px;
    .section-about-title {
        margin-bottom: 20px;
        max-width: 200px;
        h2 {
            font-size: 22px;
            font-weight: 500;

            margin-bottom: 8px;
        }
        .section-about-line {
            background-color: #953bb8;

            height: 2px;
            width: 30%;
        }
    }
    .section-about-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .section-about-box {
            margin-left: 10px;
            width: 280px;
            .section-about-top {
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                .section-about-avatar {
                    flex-shrink: 0;

                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    margin-right: 17px;
                    background-color: #953bb8;
                    box-shadow: -1 3px 3px $outlined;
                    display: flex;
                    i {
                        font-size: 27px;
                        color: #411a50;
                        margin: auto;
                    }
                }
                .section-about-avatar-title {
                    h2 {
                        padding-right: 20px;
                        font-weight: 500;
                        font-size: 19px;
                    }
                }
            }
            .section-about-content-bottom {
                padding: 10px;
                padding-left: 60px;
                p {
                    color: $text-secondary;
                    line-height: 22px;
                    font-size: 14px;
                }
            }
        }
    }
}
.footer-details {
    margin-top: 60px;
    border-top-right-radius: 50%;
    border-top-left-radius: 10%;
    background: linear-gradient(to bottom, #953bb8, #782d96);

    padding-top: 30px;
    padding-right: 35px;
    .footer-details-container-top {
        display: flex;
        justify-content: space-between;

        .footer-details-box {
            width: 400px;
            .footer-details-content {
                h2 {
                    text-transform: uppercase;
                    margin-bottom: 21px;
                    font-size: 19px;
                    font-weight: 500;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        .footer-details-logo {
            svg{
                width: 100px;
                height: 100px;
            }
            @include breakpoint(phone-only){
                display: none;
            }
        }
    }
    .footer-details-container-bottom {
        .footer-details-socials {
        }
        .footer-details-info {
        }
    }
}
